body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
